	
<div class="container clearfix">
		<div class="grid_4">
			<h1>English</h1>
		</div>
		
		<div class="grid_8">
			<h1>Hello World One option you have is to set the locale from the domain name where your application runs. For example, we want www.example.com to load the English (or default) locale, and www.example.es to load the Spanish locale. Thus the top-level domain name is used for locale setting. This has several advantages:</h1>
		</div>

		<div class="grid_4">
			<h1>French Translation</h1>
		</div>
		
		<div class="grid_8">			
			<textarea name="translated_text" rows="8" cols="40" style="font-size: 20pt;"></textarea>
		</div>
</div>	
